<div class="login-module">
  <div class="login-title">Administrator Login</div>
  <div class="login-form">
    <div class="login-row">
      <div class="login-row-title">Usuario</div>
      <div class="login-row-input">
        <input type="text">
      </div>
    </div>
    <div class="login-row">
      <div class="login-row-title">Contraseña</div>
      <div class="login-row-input">
        <input type="text">
      </div>
    </div>
    <div class="login-row login-btn-container">
      <app-button buttonText="Iniciar sesión"></app-button>
    </div>
  </div>
</div>