.login-module{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100%;
}
.login-form{
    padding: 20px;
    border-radius:5px;
    border: 1px solid #d4d4d4;
    background-color: #fff;
}
.login-title{
    margin-bottom: 5px;
    font-size: 20px;
    color: #272727;
}
.login-row:not(:last-child){
    margin-bottom:10px;
}
.login-row-title{
    font-size:15px;
}
.login-row-input input{
    width:300px;
}
.login-btn-container{
    text-align:right;
}
.wrong-password-alert{
    width: 340px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffd1e1;
    border-radius: 8px;
    color: #d60808;
    border: 1px solid #ffaeae;
}