<mat-toolbar color="primary">
    <div>
        <a routerLink="/home"><img src="assets/img/logo2.png" alt=""></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/menu"><mat-icon>restaurant_menu</mat-icon>Menu</a>
            </li>
            <li>
                <a routerLink="/contacto"><mat-icon>contact_phone</mat-icon> Contacto</a>
            </li>
            <li *ngIf="!Log">
                <a routerLink="/login"><mat-icon>lock_open</mat-icon>Login</a>                
            </li>
            <li *ngIf="Log">
                <a routerLink="/home"><mat-icon>account_circle</mat-icon>Usuario</a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
            <button mat-icon-button class="min-menu" type="button" mat-button [matMenuTriggerFor]="belowMenu">
                <mat-icon>line_weight</mat-icon>
            </button> 
            <mat-menu #belowMenu="matMenu">
                <div class="myMenu" fxHide.gt-xs>
                    <a  mat-menu-item  routerLink="/menu"><mat-icon>restaurant_menu</mat-icon>Menu</a>
                    <a  mat-menu-item  routerLink="/contacto"><mat-icon>contact_phone</mat-icon> Contacto</a>
                    <a  mat-menu-item  *ngIf="!Log" routerLink="/login"><mat-icon>lock_open</mat-icon>Login</a>
                    <a  mat-menu-item  *ngIf="Log" routerLink="/home"><mat-icon>account_circle</mat-icon>Usuario</a>
                </div>                
            </mat-menu>          
    </div>
    
</mat-toolbar>