.list-item{
    background-color: #fff;
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    cursor:pointer;
}
.list-item-mesa{
    text-align: center;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #9c9c9c;
}
.list-item-info{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item-arrow{
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    opacity:0;
}
.list-item:hover .list-item-arrow{
    opacity:1;
}
.list-item:hover{
    background-color:#e4e4e4;
}