
<div class="backgroundView">
  <div class="icons">
    <div class="icons-item" [routerLink]="['/promociones']">
      <img src="{{OrdenesImg}}" alt="">
      <p class="icon-title">Ordenes</p>
    </div>
    <div class="icons-item" [routerLink]="['/promociones']">
      <img src="{{AbrirCuentaImg}}" alt="">
      <p class="icon-title">Abrir cuenta</p>
    </div>
    <div class="icons-item" [routerLink]="['/promociones']">
      <img src="{{ProductosImg}}" alt="">
      <p class="icon-title">Productos</p>
    </div>
  </div>
  <div class="icons">
    <div class="icons-item" [routerLink]="['/promociones']">
      <img src="{{UsuariosImg}}" alt="">
      <p class="icon-title">Usuarios</p>
    </div>
    <div class="icons-item" [routerLink]="['/promociones']">
      <img src="{{GastosImg}}" alt="">
      <p class="icon-title">Gastos</p>
    </div>
    <div class="icons-item" [routerLink]="['/promociones']">
      <img src="{{ReportesImg}}" alt="">
      <p class="icon-title">Reportes</p>
    </div>
  </div>
</div>

