<div class="layout-item-menu">
    <img class="rounded-circle" src="{{ImageProd}}" alt=""> 
    <!-- <h3 class="icon-title" >{{producto.titulo}}</h3>
    <p>{{producto.descrip}}</p>
    <input [(ngModel)]="producto.cantidad" type="number" min="1" max="100"> -->
    <h3>California Empaninado</h3>
    <p>Rollo california con queso, pequino, surimi y limon</p>
    <h4>$35.00</h4>
    <div class="sell-components">
        <input type="number" min="1" max="100" value="1">
        <button class=""><mat-icon>add_shopping_cart</mat-icon> Agregar</button>
    </div>
</div>